* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(72, 137, 177);
    align-items: center;
    height: 50px;
    padding: 10px;
}

.filter-form {
    margin-top: 30px;
}	
.side-footer-div {
	margin-bottom: 60px;
}

.side-footer-title {
	color: white;
	font-size: 13px;
	border-bottom: white 1px solid;
	text-align: center;
}

.service-status	{
	margin-top: 15px;
	font-size: 20px;
	text-align: center;
	font-weight: lighter;
	font-style: italic;
	
}

.service-status p {
	color: white;
}

.filter-button-div, .clear-filter-button-div {
	text-align: center;
}

.filter-button, .clear-filter-button {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
	margin-bottom: 10px;
}
.filter-button:hover .clear-filter-button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.filter-button:active, .clear-filter-button:active{
	position:relative;
	top:1px;
}   

.filter-button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed; 
    opacity: 0.6; 
}

.custom-select {
	position: relative;
    width: 350px;
    margin-right: 30px;
}

.custom-select select {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
    height: 37px;
	font-size: 16px;
	font-style: italic;
	padding: 5px 11px 5px 11px;
	background-color: #EAEAEA;
	border: 2px solid #C4D1EB;
	border-radius: 6px;
	color: #000000;
	cursor: pointer;
	outline: none;
}

.custom-select select:focus {
	background: #F2F2F2;
	border: 3px solid #436bbb;
	border-radius: 5px;
}

.custom-select::after {
	content: "";
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 16px;
	transform: translate(0, -50%);
	width: 15px;
	height: 15px;
	background-color: #000000;
	clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}

.custom_input {
	display: flex;
	align-items: center;
	position: relative;
	max-width: 100%;
    margin-bottom: 15px;
}

.company-select {
	position: relative;
    width: 100%;
    margin-right: 30px;
    margin-bottom: 15px;
}


.company-select select {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
    height: 37px;
	font-size: 16px;
	font-style: italic;
	padding: 5px 11px 5px 11px;
	background-color: #fdfdfd;
	border: 2px solid #C4D1EB;
	border-radius: 6px;
	color: #8391bb;
	cursor: pointer;
	outline: none;
}

.company-select select:focus {
	background: #F2F2F2;
	border: 3px solid #436bbb;
	border-radius: 5px;
}

.company-select::after {
	content: "";
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 16px;
	transform: translate(0, -50%);
	width: 15px;
	height: 15px;
	background-color: #000000;
	clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}

.logout-button {
    box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 17px;
	text-decoration:none;
	text-shadow:0px 2px 0px #810e05;
}

.logout-button:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.logout-button:active {
	position:relative;
	top:1px;
}

.navigation-header {
    display: flex;
    margin-right: 10px;
}

.logo {
    color: white;
    margin-left: 5px;
}

.conteudo { 
    display: flex;
    flex-direction: row;
}

.lateral {
    display: flex;
    flex-direction: column;
	justify-content: space-between;
    width: 330px;
    background-color: rgb(80, 80, 80);
    height: 100hv;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.header-lateral {
    text-align: center;
    border-bottom: white 1px solid;
    margin-bottom: 15px;
	margin-top: -10px;
    color: white;
}

.hotel-title-lateral {
	text-align: center;
    margin-bottom: 15px;
	margin-top: -10px;
	margin-top: 10px;
    color: white;
	font-style: italic;
	font-weight: 100;
}

.itens-lateral {
   align-self: center;
}

.principal { 
    width:100%;
    background-color: rgb(246, 246, 246);
    padding: 0 10px 10px 10px;
    overflow-y: auto;   
    border-radius: 5px;
    margin: 5px 10px 0 0;
    max-height: 100hv;
    height: calc(100vh - 60px);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    font-size: medium;
}

#hotel-name {   
    overflow-y: auto;
}
                                                        
th, td {
    padding: 10px;
    text-align: left;       
    border-bottom: 2px solid #ddd; 
}

th {
    background-color: rgb(72, 137, 177);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 35px;
    flex-wrap: nowrap; 
}

.hotel-header {
    border-radius: 5px 0 0 0 ;
}

.spin {
    border-radius: 50%; 
}

#loading-spinner {
    display: none; 
    position: absolute; 
    top: 40%; 
    left: 50%; 
    z-index: 9999; 
    background-color: rgba(246, 246, 246, 0.9); 
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    border: none; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
	margin: 80px;
	padding: 5px;	
}

.status-opera {
	border-radius: 0 5px 0 0;
}

.total-header {
    border-radius: 0 5px 0 0;
}

tr:hover {
    background-color: #e0e0e0;  
}

#has-children {
    text-align: center;
}

#has-pets { 
    text-align: center;
}

#voucher-pax-total {
    text-align: center;
}

#url-pdf {
    margin-left: 10px;
}

.date-picker {
    width: 120px;
    padding: 8px;
    font-size: 14px;
    font-size: 18px;
	font-style: italic;
	padding: 5px 10px;
	padding-left: 35px;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #C4D1EB;
	border-radius: 5px;
	transition: .3s ease;
}

.input {
	font-size: 18px;
	font-style: italic;
	padding: 5px 10px;
	width: 100%;
	padding-left: 35px;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #C4D1EB;
	border-radius: 5px;
}

.svg_icon {
	position: absolute;
	left: 10px;
	fill: #4660DC;
	width: 18px;
	height: 18px;
}

.input:focus {
	background: #F2F2F2;
	border: 2px solid #5A7EC7;
	
}

.input::placeholder {
	color: #314892;
}